/* imports */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('title-select.css');
@import url('main.css');


/* standards */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

/* background */
/* body {
    background: rgb(89,145,51);
    background: linear-gradient(90deg, rgba(89,145,51,1) 0%, rgba(203,185,42,1) 100%);
} */

/* layout */
body {
    max-width: 1900px;
    height: 90vh;
}