/* header container */
.header-container {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo {
    width: 130px;
}

/* date / time */
.dateTime-container {
    text-align: right;
}

